.content {
    grid-area: main;
    justify-content: center;
    margin: 0 auto;
    float: left;
}

#content-grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: minmax(1fr, auto);
}

.img-style {
    width: 85%;
}

.flex-content {
    font-family: 'Quattrocento Sans', sans-serif;
}