* {
    box-sizing: border-box;
}

body {
    margin: 0;
    border: 1px red;
}

h1,
h2 {
    font-family: 'Gotu', 'Scada', sans-serif;
}



@media(max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(1fr, auto);
        grid-template-areas: "hd"
                             "sd"
                             "main"
                             "ft";
    }
}

.box {
    border: 1px red;

}

.header {
    grid-area: hd;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: auto;
    color: white;
    background-image: url("../images/sky.jpg");
    background-size: cover;
}

.footer {
    grid-area: ft;
    color: white;
    border-top: 5px solid rgb(8, 6, 6);
    background-image: url("../images/sky.jpg");
    background-size: cover;
    padding: 25px;
    margin: 0;

}

.content {
    grid-area: main;
    padding: 20px;
    margin: auto;
}

.sidebar {
    grid-area: sd;
    padding: 20px;
    margin:auto;
}

.article-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


@media(min-width: 600px) and (max-width: 1100px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(200px, auto);
        grid-template-areas: "hd hd hd hd hd hd hd hd"
                             "main main main main main sd sd sd"
                             "ft ft ft ft ft ft ft ft";
        border:5px solid purple;
    }
}


@media (min-width: 1101px){
    .container {
        border: 5px solid blue;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: minmax(1fr, auto);
        grid-template-areas: "hd hd hd hd hd hd hd hd"
                             "main main main main main sd sd sd"
                             "ft ft ft ft ft ft ft ft";
    }
}

