
/* ---------- Imports --------------- */
@import "header.css";
@import "social_icons.css";
@import "nav.css";
@import "content.css";
@import "footer.css";

/* ----------------------- */

/* ----------- BY TYPE ------------- */
html {
    box-sizing: border-box;
}


body {
    background-color: black;
    padding: 0;
    margin: 0; 
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

p {
    font-family: 'Quattrocento Sans', 'Mukta', sans-serif;
}

/* ----------- BY TYPE END ------------- */

.container{
    /* Step 1: Set display to grid */
      display:grid;
   /* Step 2: setup rows amd columns */
      /* grid-template-columns: repeat(3, 1fr); */
      grid-template-columns: 1fr 740px 1fr;
      grid-auto-rows: minmax(100px, auto);
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "nav nav nav nav nav nav nav nav"
      "main main main main main main main main"
      "ft ft ft ft ft ft ft ft";
      
      align-content: center;
}


.box {
    display:flex;
    flex-direction: row;
    align-content: stretch;
    background: rgb(255, 255, 255);
    align-items: center;
}

.header {
      grid-area:hd;
      flex-direction: row;
      justify-content: center;
      color: white;
      background-image: url("../images/sky.jpg");
      background-size: cover;
      padding: 10px;
      font: 40px 'Righteous', cursive;
}


.footer{
    grid-area: ft;
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url("../images/stars.jpg");
    background-size: cover;
    margin: 5px;
    padding: 5px;
}


.home-images {
    width: 65%;
    border-radius: 8px;
}


.article-header {
    font: bold 28px 'Quattrocento Sans', 'Mukta', sans-serif;

}
